body{
    background-color:#f8f9fa;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    
}

.row{
    display:flex;
    flex-direction:row;
    box-sizing:border-box;
    
}

.square{
    height:50px;
    width:50px;
    box-sizing: border-box;
    border:1px solid #e0e0e0;
    padding:0px;
    background-color:white;
}

.mainContainer{
    background-color:#D32F2F;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    width:1200px;
    height:850px;
    border:10px solid #D32F2F;
    border-radius: 50px;
    
}

.container{
    box-sizing: border-box;
    border:2px solid grey;
}

.options,
.modes{
    margin-top:22px;
    display: flex;
    flex-direction: column;
    margin-left:40px;
}

.text{
    font-size:28px;
    font-weight: 600;
    font-size:36px;
    text-align: center;
    margin-top:20px;
    margin-bottom:5px;
    color:#121212;
    margin-left:-45px;
}

h1{
    font-weight:800;
    text-align: center;
    margin-top:-5px;
    color:#f0f0f0;
    font-size:50px;
    margin-bottom:20px;
}

button{
    font-size:22px;
    padding:10px;
    margin:5px;
    border-radius:100px;
    box-sizing: border-box;
    width:250px;
    
}

.modes button{
    margin-left:-40px;
}
