.body{
    background-color:#f8f9fa;
}

.row{
    display:flex;
    flex-direction:row;
    box-sizing:border-box;
    
}

.square{
    height:50px;
    width:50px;
    box-sizing: border-box;
    border:1px solid #e0e0e0;
    padding:0px;
    background-color:white;
}


